/* Write your CSS here */
.container {
  min-height: 100vh;
  background-color: black;
}
.prime-img {
  height: 30vh;
  width: 100%;
}
.movies-container {
  padding-left: 50px;
  max-width: 1000px;
}
.movie-h1 {
  color: #ffffff;
}
